setuptools==80.9.0
wheel

PyMuPDF
anthropic
chromadb-client
emoji
fal_client
google-genai
jinja2
llama_index
markdown2
markdownify
matplotlib
mistralai
nltk
numpy
ollama
openai
openpyxl
pgvector
pydantic>=2.0.0
pyyaml
qdrant-client
replicate
requests
sqlparse
xlrd
xlsxwriter
openai
markdown2
emoji